<div class="main-body" >
    <div class="container-fluid">
        <div class="container">
            <div class="heading">
                <p><b>CONTACT US</b></p>
            </div>
            <div class="row">
                <div class="col-sm-5">
                <p><b>Contact us and we'll get back to you within 24 hours.</b></p>
                <p><fa-icon [icon]="dot"></fa-icon>&nbsp; Make sure to check our website meanwhile!</p>
                <p><fa-icon [icon]="marker"></fa-icon>&nbsp; Hyderabad, IN</p>
                <p><fa-icon [icon]="mobile"></fa-icon>&nbsp; +91 9785643670</p>
                <p><fa-icon [icon]="envelope"></fa-icon>&nbsp; greencarwash@company.com</p>
                </div>
                <div class="col-sm-7 map">
                    <img src="../../../assets/images/map2.jpg" alt="" width="650" height="430">
                </div>
          </div>
        </div>
    </div>
</div>
