.dashboard-col-2
{
    background-color: white;
    color: white;
    min-height: 500px;
    width: 150px;
    
}
.padding-0{
    padding-right:0px;
    padding-left:0px;
}
/* .image{
    margin-top: 50px;
    margin-left: 300px;
    

} */
