/* body
    {
        background-image: url('download.jpg');
    } */

    .home{
        background-color: blanchedalmond;
        
    }
    .container {
        display: grid;
        grid-gap: 20px;
      }
